* {
    margin: o;
    padding: 0%;
}

a {
    color: #668cff;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    height: 4vh;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
}

.header li {
    list-style: none;
    color: black;
}

.checked {
    color: orange;
}

.gallery-container {
    width: 90%;
    height: 70vh;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

a:hover {
    color: rgb(255, 51, 153)
}

a:focus {
    color: #cc9900;
}

a:active {
    color: #cccc00;
}

.personal-img {
    width: 240px;
    height: 240px;
    border-radius: 5px;
}

.container {
    padding: 5px;
    display: flex;
}

.post {
    margin: 0 20px;
}

.d-flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-pink {
    background-color: pink;
}

.bg-navy {
    background-color: navy;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.bg-teal {
    background-color: teal;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.text-pink {
    color: pink;
}

.text-navy {
    color: navy;
}

.text-teal {
    color: teal;
}

.absolute {
    position: absolute;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.border-2 {
    border: 2px solid black;
}

.m-2 {
    margin: 2px;
}

.m-4 {
    margin: 4px;
}

.p-2 {
    padding: 2px;
}

.p-4 {
    padding: 4px;
}

.w-30 {
    width: 300px;
}

.w-50 {
    width: 500px;
}

.w-full {
    width: 100%;
}

.h-10 {
    height: 10px;
}

.h-20 {
    height: 20px;
}

.h-30 {
    height: 30px;
}

.h-50 {
    height: 50px;
}

.h-full {
    height: 100%;
}

.font-100 {
    font-weight: 100;
}

.font-200 {
    font-weight: 200;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.font-800 {
    font-weight: 800;
}

.font-900 {
    font-weight: 900;
}